<!DOCTYPE html>
<html>

    {% include 'polls/head.html' %}

<body class="bg-light">

    <!--
    <nav class="py-2 border-bottomt" style="background-color: #0c4d3c;">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="#" class="nav-link link-light px-2 active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">About</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Sign up</a></li>
      </ul>
    </div>
  </nav>

  <header class="py-0 mb-0 border-bottom" style="background-color: #3cb58a;">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">

    {% block title %}
        <p class="h5 text-light">Poll app</p>
    {% endblock %}
      </a>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </header>
  -->

  <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #0c4d3c;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Coaching Zentrum Enge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Hypnose</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Coaching
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Patricia Kummer</a></li>
            <li><a class="dropdown-item" href="#">Coaching b</a></li>
            <li><a class="dropdown-item" href="#">Coaching c</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Kinder-Psychologie</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Psychologie
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Psychologie A</a></li>
            <li><a class="dropdown-item" href="#">Psychologie B</a></li>
            <li><a class="dropdown-item" href="#">Psychologie C</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <nav class="navbar navbar-dark navbar-expand-lg "style="background-color: #3cb58a;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Praxis Enge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid mt-0">
  <div class="row">
    <div class="col-sm-8 p-4 bg-white text-gray">

<div class="container">

    <p class="display-6">This is my world</p>
    <p>Assigned tracks can be found in the following table. Please send me as soon as possible the time you expect for your track, such that we can complete the start time column. Please also send me your mobile number, which I need for our team's registration and our what's app chat. Detailed information about your track can be found.</p>

    {% block content %}{% endblock %}

    <br><br>  
  <div class="shadow p-4 mb-4 bg-white">Default shadow</div>


</div>
</div>
    
<div class="col-sm-4 p-4 bg-light text-gray">

  <address>
    <strong>Coaching Zentrum Enge</strong><br>
    Rieterstrasse 21<br>
    8002 Zürich<br>
    <abbr title="Phone">Tel:</abbr> (044) 372 1111
  </address>
  <address>
    <!-- <strong>Full Name</strong><br> -->
    <a href="mailto:first.last@example.com">first.last@coaching-zentrum.ch</a>
  </address>


</div>
</div>
</div>


<ul>
  {% for user in object_list %}
    <li class="user">{{ user }}</li>
  {% endfor %}
</ul>


    {% include 'polls/footer.html' %}

  </div>

  </body>
</html>


