<!DOCTYPE html>
<html>

    {% include 'polls/head.html' %}

<body class="bg-white">

    {% include 'polls/header.html' %}

<main class="container bg-white col-lg-8 mx-auto">
<br>

    {% include 'polls/breadcrumb.html' %}

    {% block title %}{% endblock %}

    {% block content %}{% endblock %}


<br><br><br><br><br>

<!-- <ul>
  {% for user in object_list %}
    <li class="user">{{ user }}</li>
  {% endfor %}
</ul> -->

<br><br>
    
</main>

    {% include 'polls/footer.html' %}

</body>
</html>

