<!-- Breadcrump -->
{% load static %}

<nav aria-label="breadcrumb">
{# <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb"> #}  
    <ol class="breadcrumb arr-right">
    <li class="breadcrumb-item"><a href="#"><img src="{% static 'polls/images/house-down.svg' %}" alt="Bootstrap" width="21" height="21" class="align-baseline"> </a></li> 
    <li class="breadcrumb-item"><a href="#">Coaching</a></li>
    <li class="breadcrumb-item active" aria-current="page">Patricia Kummer</li>
  </ol>
</nav>


<!-- <img src="{% static 'polls/images/chevron-right.svg' %}" alt="Bootstrap" ...> -->

