<header>
  <nav class="navbar navbar-dark navbar-expand-lg " style="background-color: rgba(26, 161, 142, 0.79);">
  <div class="container-fluid">
    <a class="navbar-brand p-2" href="#">Coaching Zentrum Enge</a>
    {# <h2 class="font-serif text-white mb-1">CZE</h2> #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Hypnose</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Coaching
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Patricia Kummer</a></li>
            <li><a class="dropdown-item" href="#">Coaching b</a></li>
            <li><a class="dropdown-item" href="#">Coaching c</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Kinder-Psychologie</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Psychologie
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Psychologie A</a></li>
            <li><a class="dropdown-item" href="#">Psychologie B</a></li>
            <li><a class="dropdown-item" href="#">Psychologie C</a></li>
          </ul>
        </li>
      </ul>
    </div> -->
    <div class="col-md-3.5 text-end">
        <ul class="navbar-nav">
<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Hypnose</a>
        </li>
<li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Coaching</a>
        </li>
 <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Psychologische Hilfe</a>
        </li>  
    </div>
      </div>
  </div>
</nav>

  <nav class="navbar navbar-dark navbar-expand-lg shadow-sm" style="background-color: rgba(57, 195, 176, 0.56);">
  <div class="container-fluid">
    <a class="navbar-brand p-2" href="#">Praxis Enge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>

</header>
